<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        /* body{
            height: 50rem;
        } */
    </style>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary nav-but" href="{{ url_for('register') }}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light nav-but" href="{{ url_for('home') }}">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div class=" outer">
        <h1 class="title is-size-1 has-text-centered">Register here!!</h1>
        <div class=" inner">
            <form action="{{ url_for('register') }}" method="POST">              
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left ">
                      <input class="input is-success is-medium" type="email" placeholder="Email here!" name="email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input class="input is-success is-medium" type="text" placeholder="Username here" name="username">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input class="input is-success is-medium" type="password" placeholder="Password here" name="password">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Roles :</label>
                    <p class="control">
                      <span class="select">
                        <select name="role">
                          <option selected value="Admin">Admin</option>
                          <option value="Staff">Staff</option>
                          <option value="Student">Student</option>
                        </select>
                      </span>
                    </p>
                  </div>

                    <div class="field control has-text-centered">
                      <button class="button is-link">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>